@import "./Styles/style.scss";

:root {
  --bs-modal-bg: transparent !important;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #dddddd;

  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// Comment this to show scrollbar
::-webkit-scrollbar {
  color: transparent;
  width: 0;
}
::-webkit-scrollbar-thumb {
  width: 0;
  background-color: transparent;
}

::-ms-thumb {
  width: 0;
  color: transparent;
}

::-ms-track {
  width: 0;
  background-color: transparent;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.h-100vh {
  height: 100vh !important;
}

.mh-100vh {
  min-height: 100vh !important;
}

.scrolling .btn-1,
.scrolling .btn-2 {
  display: none !important;
}

body:not(.scrolling) .btn-1,
body:not(.scrolling) .btn-2,
.noscrolling .btn-1,
.noscrolling .btn-2 {
  display: block !important;
}

.fa-btn-container {
  position: fixed !important;
  top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maison-btn-container {
  position: fixed !important;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1 {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.btn-2 {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.modal-content {
  border: 0px !important;
  background-color: transparent !important;
}

.alert {
  padding: 15px;
  border: 1px solid gray;
}

.rh5v-DefaultPlayer_video {
  width: 100%;
  height: 100%;
  max-height: 500px !important;
}
